@using BlazorRolesMgmt.Data;

<!-- This is the popup to show user password -->
<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">User Password</h3>
                <button type="button" class="close" @onclick="ClosePopup"><span aria-hidden="true">X</span></button>
            </div>
            <div class="modal-body pl-5">
                <div class="row">
                    <div class="col-md-10">
                        <div class="alert alert-success">
                            <strong>Success!</strong> The new password of @objUser.Email is <b>@NewUserPassword</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback ClosePopup { get; set; }

    [Parameter]
    public ApplicationUser objUser { get; set; }

    // To show the new user password
    [Parameter]
    public string NewUserPassword { get; set; }
}
